<h2>Create a new box</h2>
<br>

<mat-label>Contents</mat-label>
<div class="mat-form-field-infix">
  <textarea matInput placeholder="Contents" [(ngModel)]="contents"></textarea>
</div>
<br>
<mat-label>Width</mat-label>
<div class="mat-form-field-infix">
  <textarea matInput placeholder="Width" [(ngModel)]="xWidth"></textarea>
</div>
<br>
<mat-label>Height</mat-label>
<div class="mat-form-field-infix">
  <textarea matInput placeholder="Height" [(ngModel)]="zHeight"></textarea>
</div>
<br>
<mat-label>Length</mat-label>
<div class="mat-form-field-infix">
  <textarea matInput placeholder="Depth" [(ngModel)]="yLength"></textarea>
</div>
<br>
<mat-label>Weight</mat-label>
<div class="mat-form-field-infix">
  <textarea matInput placeholder="Weight" [(ngModel)]="weight"></textarea>
</div>
<br>

<button mat-raised-button color="primary" (click)="createBox()">Create</button>
<button mat-raised-button color="primary" (click)="close()">Cancel</button>
