<h1 class="title">Boxes in storage</h1>
<br>

<div style="margin: 200px;"></div>
<button mat-button class="newButton" (click)="openNewBoxDialogue()">
  New box
</button>

<mat-card *ngFor="let b of boxes">
  <mat-card-header>
    <mat-card-title>Box no. {{b.id}}" </mat-card-title>
    <mat-card-subtitle>
      <input>{{b.content}} <input>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Box no. {{b.id}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <input Width {{b.xWidth}}> <br>
        <input Height {{b.yHeight}}> <br>
        <input Depth {{b.zDepth}}> <br>
        <input Weight {{b.weight}}> <br>
        <input Volume {{b.volume}}> <br>
        <input Density {{b.density}}> <br>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Delete</button>
    <br>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card>
