<app-navbar></app-navbar>

<div style="margin: 200px;"></div>
<button mat-button class="newButton" (click)="openNewBoxDialogue()">
  New box
</button>


<div fxLayout="column" fxLayoutGap="10px">
  <div *ngFor="let b of boxes">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Box no. {{b.id}}
      </mat-card-title>
      <mat-card-subtitle>
        {{b.contents}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <label>
            Width: {{b.xWidth}} m
          </label>
          <br>
          <label>
            Height: {{b.zHeight}} m
          </label>
          <br>
          <label>
            Length: {{b.yLength}} m
          </label>
          <br>
          <label>
            Weight: {{b.weight}} kg
          </label>
          <br>
          <label>
            Volume: {{calculateVolume(b)}} m3
          </label>
        </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <div style="align-items: center">
          <button mat-button>Delete</button>
          <button mat-button>Edit</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
