.navbar{

}

.navbar {
  background-color: #6af350;
  border-bottom: 3px solid #e5e5e5;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  height: 50px;
  position: relative;
  z-index: 10;
  text-align: center !important;
  color: #e5e5e5;
  font-size: 8.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;

}
